<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="novonity-plugin-vr"
        version="1.0.3">

    <name>vr</name>
    <description>vr plugin</description>
    <license>MIT</license>
    <keywords>vr</keywords>

    <js-module src="www/vr.js" name="vr">
        <clobbers target="vr"/>
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="vr">
                <param name="ios-package" value="VrModule"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            <string>zh_CN</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
            <true/>
        </config-file>
        <framework src="libstdc++.tbd"/>
        <framework src="CoreMedia.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CoreMotion.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="GLKit.framework"/>
        <framework src="AudioToolBox.framework"/>

        <source-file src="src/ios/libCardboardSDK.a" framework="true"/>

        <resource-file src="src/ios/CardboardSDK.bundle"/>
        <resource-file src="src/ios/GoogleKitCore.bundle"/>
        <resource-file src="src/ios/GoogleKitDialogs.bundle"/>
        <resource-file src="src/ios/GoogleKitHUD.bundle"/>
        <resource-file src="src/ios/MaterialRobotoFontLoader.bundle"/>

        <header-file src="src/ios/GVRAudioEngine.h"/>
        <header-file src="src/ios/GVRCardboardView.h"/>
        <header-file src="src/ios/GVRHeadTransform.h"/>
        <header-file src="src/ios/GVROverlayView.h"/>
        <header-file src="src/ios/GVRPanoramaView.h"/>
        <header-file src="src/ios/GVRVideoView.h"/>
        <header-file src="src/ios/GVRWidgetView.h"/>

        <header-file src="src/ios/VrModule.h"/>
        <source-file src="src/ios/VrModule.m"/>
    </platform>
</plugin>
